.message-bubble {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    max-width: 60%;
}

.own-message {
    justify-content: flex-end;
    text-align: right;
    margin-left: auto; /* Ensures the bubble is pushed to the end */
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background-color: #f1f1f1;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    padding: 10px 15px;
    position: relative;
}

.own-message .message-content {
    background-color: #0078ff;
    color: white;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
}

.message-text {
    margin: 0;
    font-size: 16px;
}

.message-timestamp {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    display: block;
}

.own-message .message-timestamp {
    color: lightgray;
}
